/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@font-face {
    font-family: MrgvlovaniCaps;
    src: url(fonts/bpg_mrgvlovani_caps_2010.ttf);
}



body {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --displaymomeGriddiv: none;
    --gridtopicBorder: 1px solid #cccccc;
    --gridtopicBradius: 5px;
    --gridwindow1imgBradius: 3px;

    --linkedTextsBlue: #034694;
    --linkedTextHover: #33006F;
    --NavmenuColor: #1d1160;

    --fontcolorBlack: black;
    --fontcolorGrey15: #262626;
    --fontcolorGrey25: #404040;
    --fontcolorGrey45: #737373;
    --fontcolorGrey75: #bfbfbf;
    --colorGrey80: #cccccc;

    --backColorGrey95: #f2f2f2;

}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.slidersplitter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 5px;
}

.slider {
    /* background-color: black; */
    background-size: cover;
    background-position: center;
    width: 728px;
    height: 90px;
    -webkit-animation-name: sliderponty;
            animation-name: sliderponty;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

@-webkit-keyframes sliderponty {
    0% {background-image: url(slider/01.slider.jpg); opacity: 0}
    1.5% {background-image: url(slider/01.slider.jpg); opacity: 1}
    20% {background-image: url(slider/01.slider.jpg);}
    23% {background-image: url(slider/02.slider.jpg);}
    40% {background-image: url(slider/02.slider.jpg);}
    43% {background-image: url(slider/03.slider.jpg);}
    60% {background-image: url(slider/03.slider.jpg);}
    63% {background-image: url(slider/04.slider.jpg);}
    80% {background-image: url(slider/04.slider.jpg);}
    83% {background-image: url(slider/05.slider.jpg);}
    98.5% {background-image: url(slider/05.slider.jpg); opacity: 1;}
    100% {background-image: url(slider/05.slider.jpg); opacity: 0;}
}

@keyframes sliderponty {
    0% {background-image: url(slider/01.slider.jpg); opacity: 0}
    1.5% {background-image: url(slider/01.slider.jpg); opacity: 1}
    20% {background-image: url(slider/01.slider.jpg);}
    23% {background-image: url(slider/02.slider.jpg);}
    40% {background-image: url(slider/02.slider.jpg);}
    43% {background-image: url(slider/03.slider.jpg);}
    60% {background-image: url(slider/03.slider.jpg);}
    63% {background-image: url(slider/04.slider.jpg);}
    80% {background-image: url(slider/04.slider.jpg);}
    83% {background-image: url(slider/05.slider.jpg);}
    98.5% {background-image: url(slider/05.slider.jpg); opacity: 1;}
    100% {background-image: url(slider/05.slider.jpg); opacity: 0;}
}

.navmenuBackcolor {
    background-color: #1d1160;
    width: 100%;
}

.aroundNavmenu {
    /* background-color: yellow; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

.aroundNavmenu .sitelogo {
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.aroundNavmenu .sitelogo img {
    width: auto;
    height: 40px;
    margin: 0;
}

.aroundNavmenu nav {
    /* background-color: royalblue; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 25px;

}

.aroundNavmenu nav a {
    /* background-color: yellow; */
    text-decoration: none;
    font-family: MrgvlovaniCaps;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 25px 20px;
}

.aroundNavmenu nav a:hover {
    background-color: red;
}

.navmenuSearchv1 {
    background-color: white;
    width: 300px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navmenuSearchv1 input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    padding: 0 15px;
}

.navmenuSearchv1 button {
    background-color: rebeccapurple;
    border: none;
    font-family: MrgvlovaniCaps;
    color: white;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: 34px;
    padding: 0 10px;
    margin-right: 3px;
}

.navmenuSearchv1 button:hover {
    background-color: red;
}

.navmenuSearchv1 button:active {
    margin-top: 1px;
    margin-bottom: -1px;
}


/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

main {
    /* background-color: gray; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 70% 15%;
    grid-template-columns: 15% 70% 15%;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.maintitleAround {
    /* background-color: aqua; */
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
}

.maintitleAround h2, p {
    margin: auto;
    text-align: left;
}

.maintitleAround h2 {
    color: black;
}

.maintitleAround p {
    color: var(--fontcolorGrey45); 
    margin-top: 10px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.ratings1Around {
    /* background-color: aqua; */
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
}

.ratings1Around img {
    width: auto;
    height: 23px;

}

.ratings1Around a {
    color: var(--fontcolorBlack);
    margin: 0;
}

.hrvers1 {
    border: none;
    width: 4px;
    border-top: 4px dotted #404040;
    margin: 0 10px;
}

.ratings1Around p {
    color: var(--fontcolorBlack);
    margin: 0;
}

.imdbRating {
    /* background-color: red; */
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-right: 0;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.sectionBaseCover {
    /* background-color: aqua; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20px 1fr;
    grid-template-columns: auto 1fr;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}

.MovieSectionInside {
    width: 100%;
    height: 100%;
}

#MoviePoster {
    width: 280px;
    height: 420px;
    overflow: hidden;
}

#MoviePoster img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}

.synopsysBasic {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.posterSynopsis480 {
    /* background-color: aqua; */
    width: 100%;
    margin-top: 25px;
}

.postersynipsis480Insider {
    display: inline-block;
    width: 100%;
}

.postersynipsis480Insider img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 120px;
    height: 180px;
    float: left;
    margin-right: 15px;
    padding-bottom: 10px;
}

.postersynipsis480Insider p {
    margin:0;
    margin-top: 10px;
    font-size: 15px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.mainsectionsplitter .partitle {
    /* background-color: aqua; */
    font-family: MrgvlovaniCaps;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

.partitle div {
    /* background-color: rebeccapurple; */
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 15px;
}

.partitle div p {
    /* background-color: yellow; */
    font-size: 14px;
    font-weight: normal;
    color: var(--fontcolorGrey25);
    padding: 6px 10px;
    border: 1px solid #cccccc;
    margin: auto;
    margin-left: 0;
}

.partitle div p:hover {
    background-color: var(--fontcolorGrey25);
    color: white;
}

.partitle div a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--linkedTextsBlue);
    font-size: 16px;
    font-weight: normal;
    margin: auto;
    margin-right: 0;
}

.partitle div a:hover{
    color: #33006F;
}

.partitle div a:active {
    color: black;
}

.section1 {
    /* background-color: rosybrown; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
}

.sec1gridwindow {
    background-color: var(--backColorGrey95);
    padding: 5px;
    border: var(--gridtopicBorder);
    border-radius: var(--gridtopicBradius);
}

.sec1gridwindow:hover {
    background-color: white;
    -webkit-box-shadow: 0 0 5px #bfbfbf;
            box-shadow: 0 0 5px #bfbfbf;
}

.gridwindow1insider {
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
}

.gridwindow1imgAround {
    /* background-color: green; */
    width: 100%;
    height: 170px;
    border-radius: var(--gridwindow1imgBradius);
    overflow: hidden;
}

.gridwindow1imgAround img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.gridwindow1imgAround img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.gridwindow1insider a {
    /* background-color: yellow; */
    text-decoration: none;
    color: var(--fontcolorBlack);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.gridwindow1insider a:hover {
    color: var(--linkedTextsBlue);
}

.gridwindow1insider a h4 {
    font-family: MrgvlovaniCaps;
    font-weight: normal;
    margin: 0;
}

.gridwindow1insider a p {
    color: var(--fontcolorGrey45);
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.section2headtitle {
    font-family: MrgvlovaniCaps;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 25px;
}

.section2Around {
    /* background-color: aqua; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 50px 1fr;
    grid-template-columns: 70% 1fr;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
}

/* .section2left {
    background-color: yellow;
} */

.actorsAround {
    /* background-color: orange; */
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
}

.actorsWindows {
    /* background-color: aqua; */
    width: 48%;
}

.actorsWindows a {
    /* background-color: yellow; */
    text-decoration: none;
    color: var(--fontcolorGrey15);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 0;
    margin-bottom: 20px;
}

.actorsWindows a:hover {
    color: var(--linkedTextsBlue);
}

.actorsWindows a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.actorsWindows a img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.actorsWindows a div {
    /* background-color: rosybrown; */
    display: block;
    margin: 0;
}

.actorsWindows a h4, p {
    margin: 0;
}

.actorsWindows a p {
    color: var(--fontcolorGrey45);
    font-size: 14px;
    margin-top: 10px;
}

.fullcast {
    /* background-color: yellow; */
    text-decoration: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    color: var(--linkedTextsBlue);
    margin: 0;
}

.fullcast:hover {
    color: var(--linkedTextHover);
}

.fullcast:active {
    color: black;
}

.hrofDetails {
    border: none;
    border-top: 1px dotted var(--colorGrey80);
    width: 100%;
    margin: 15px 0;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.actorsBelowAround {
    background-color: var(--backColorGrey95);
    border: 1px solid var(--colorGrey80);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    margin-top: 75px;
    padding: 25px;
    padding-top: 20px;
}

.actorsBelowAround h2 {
    /* background-color: yellow; */
    font-family: MrgvlovaniCaps;
    color: black;
}

.actorsmoredetailsAround {
    /* background-color: yellow; */
    width: 100%;
}

.actorsmoredetailsAround h4 {
    color: black;
    font-family: MrgvlovaniCaps;
    font-weight: normal;
    margin: 0;
}

.actorsmoredetailsAround h4 a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--linkedTextsBlue);
    font-weight: normal;
    margin-left: 10px;
}

.actorsmoredetailsAround h4 a:hover {
    color: var(--linkedTextHover);
}

.actorsmoredetailsAround h4 a:active {
    color: black;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.commentHeadtitle {
    /* background-color: yellow; */
    font-family: MrgvlovaniCaps;
    color: black;
    width: 100%;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 25px;
}

.commentAround {
    /* background-color: aqua; */
    width: 100%;
}

.commentAround textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
    outline: none;
    padding: 15px;
}

.commentButtons {
    /* background-color: olivedrab; */
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
}

.commentButtons button {
    font-family: MrgvlovaniCaps;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.commentButtons button:active {
    margin-top: 1px;
    margin-bottom: -1px;
}

.commentButtons .comButton1 {
    background-color: #d9a20d;
    -webkit-box-shadow: 0 2px 0px #a6620a;
            box-shadow: 0 2px 0px #a6620a;
}

.commentButtons .comButton1:hover {
    background-color: #d9800d;
}

.commentButtons .comButton2 {
    background-color: #008200;
    -webkit-box-shadow: 0 2px 0 #004000;
            box-shadow: 0 2px 0 #004000;
}

.commentButtons .comButton2:hover {
    background-color: #006400;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.similartopicsHeadtitle {
    /* background-color: yellow; */
    font-family: MrgvlovaniCaps;
    color: black;
    width: 100%;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 15px;
}

.similarTopics {
    /* background-color: olivedrab; */
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    white-space: normal;
}

.similarTopics a {
    background-color: var(--backColorGrey95);
    width: 140px;
    display: block;
    font-size: 15px;
    color: var(--linkedTextsBlue);
    text-decoration: none;
    margin: 10px 5px;
}

.similarTopics a:hover {
    color: var(--linkedTextHover);
}

.similarTopics a:active {
    color: black;
}

.similarTopics a p {
    margin: 0;
    padding: 10px;
}

.similarTopics img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 140px;
    height: 210px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.fromLesson10 {
    background-color: white;
    padding: 25px;
    margin-top: 75px;
}

.fromLesson10 h2 {
    font-family: MrgvlovaniCaps;
    margin: 0;
    margin-bottom: 10px;
}

.fromLesson10 p {
    margin: 0;
}

.fromLesson10 p::first-letter {
    font-size: 30px;
}

.fromLesson10 p::first-line {
    font-weight: bold;
}

.fromLesson10 p::selection {
    background-color: aqua;
}

.fromLesson10 p::before {
    content: "მეათე გაკვეთილიდან.";
    color: rebeccapurple;
    margin-right: 10px;
}

.fromLesson10 p::after {
    content: "from Lesson 10";
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

ul li {
    color: rebeccapurple;
}

ul li::marker {
    color: red;
}

ul li::first-letter {
    font-size: 35px;
    color: red;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/* .section2right {
    background-color: orangered;
} */

.rightTopic1 {
    /* background-color: aqua; */
    width: 100%;
}

.rightTopic1 h2 {
    font-family: MrgvlovaniCaps;
    margin: 0;
    margin-bottom: 10px;
}

.rightArticle1Around {
    background-color: var(--backColorGrey95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    margin-top: 5px;
}

.rightArticle1Around:hover {
    background-color: white;
}

.rightArticle1Around img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 120px;
    height: 120px;
    margin-right: 5px;
}

.rightArticle1Around a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--linkedTextsBlue);
    padding: 5px;
}

.rightArticle1Around a:hover {
    color: var(--linkedTextHover);
}

.rightArticle1Around a:active {
    color: black;
}

#righttitle2Vers2:hover {
    background-color: #e5e5e5;
}

.rightTopic2 {
    background-color: var(--backColorGrey95); 
    margin-top: 75px; 
    padding: 10px; 
    border: 1px solid #cccccc; 
    box-sizing: border-box; 
    border-radius: 10px;
    overflow: hidden;
}

.rightTopic2 h2 {
    background-color: white;
    font-family: MrgvlovaniCaps;
    display: flex; 
    justify-content: left; 
    align-items: center;
    margin: 0;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}

.rightTopic2 .rightTopic2Around {
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
}

.rightTopic2 .rightTopic2Around:hover {
    background-color: var(--backColorGrey95);
}

.rightTopic2Around img {
    object-fit: cover;
    width: 120px;
    height: 120px;
    margin-right: 5px;
}

.rightTopic2Around a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--linkedTextsBlue);
    padding: 5px;
}

.rightTopic2Around a:hover {
    color: var(--linkedTextHover);
}

.rightTopic2Around a:active {
    color: black;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

footer {
    /* background-color: yellow; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 100% 1fr;
    grid-template-columns: 1fr 100% 1fr;
    margin-top: 75px;
}

.midFooter {
    background-color: var(--NavmenuColor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 25px;
}

.midFooter div {
    /* background-color: aqua; */
    width: 17.5%;
}

.midFooter .footer1 {
    width: 25%;
    margin-right: 25px;
}

.midFooter .footer1 a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.midFooter .footer1 a img {
    width: auto;
    height: 40px;
}

.footer1 .footerSocials {
    /* background-color: yellow; */
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px;
}

.footer1 .footerSocials a {
    background-color: black;
    -o-object-fit: cover;
       object-fit: cover;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.footer1 .footerSocials a:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
}

.footer1 input {
    background: none;
    border: 1px solid white;
    color: white;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    margin-top: 25px;
}

.footer1 input::-webkit-input-placeholder {
    color: white;
}

.footer1 input::-moz-placeholder {
    color: white;
}

.footer1 input:-ms-input-placeholder {
    color: white;
}

.footer1 input::-ms-input-placeholder {
    color: white;
}

.footer1 input::placeholder {
    color: white;
}

.footer1 button {
    font-family: MrgvlovaniCaps;
    color: black;
    width: 100%;
    border-radius: 5px;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.footer1 button:hover {
    background-color: rebeccapurple;
    color: white;
}

.footer1 button:active {
    margin-top: 11px;
    margin-bottom: -1px;
}

.footer2 h4, .footer3 h4, .footer4 h4, .footer5 h4 {
    font-family: MrgvlovaniCaps;
    color: white;
    letter-spacing: 2px;
    margin: 0;
}

.footer2 a, .footer3 a, .footer4 a, .footer5 a {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 15px;
}

.footer2 a:hover, 
.footer3 a:hover, 
.footer4 a:hover,
.footer5 a:hover {
    color: #FFD700;
}

.footer2 a:active, 
.footer3 a:active, 
.footer4 a:active,
.footer5 a:active {
    color: #00FFFF;
}

.footer2copyright {
    background-color: var(--NavmenuColor);
    font-family: MrgvlovaniCaps;
    font-size: 13px;
    font-weight: lighter;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1px;
}

.footer2copyright p {
    margin: 0;
    padding: 25px 0;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/* Display Resolutions for 1600x1920*/
@media (min-width: 1601px) and (max-width: 1920px) {

    .Navmenu480-768 {
        display: none;
    }

    .searchv2splitter {
        display: none;
    }

    main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
    }

    .gridwindow1imgAround {
        width: 100%;
        height: 170px;
        border-radius: var(--gridwindow1imgBradius);
        overflow: hidden;
    }

    .posterSynopsis480 {
        display: none;
    }
}

/* Display Resolutions for 1280x1600*/
@media (min-width: 1281px) and (max-width: 1600px) {

    .Navmenu480-768 {
        display: none;
    }

    .navmenuBackcolor {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .aroundNavmenu nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        margin-left: 25px;
    }

    .aroundNavmenu .sitelogo img {
        width: auto;
        height: 40px;
        margin: 0;
    }

    #navmenuSearchv1 {
        display: none;
    }

    .searchv2splitter {
        /* background-color: aqua; */
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 5% 90% 5%;
        grid-template-columns: 5% 90% 5%;
        margin-top: 10px;
    }

    .searchv2Around {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .searchv2Around img {
        display: none;
    }

    .searchv2 {
        background-color: var(--backColorGrey95);
        border: 1px solid var(--fontcolorGrey45);
        border-radius: 5px;
        width: 100%;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .searchv2:hover {
        background-color: white;
    }

    .searchv2 input {
        background: none;
        outline: none;
        border: none;
        width: 100%;
        padding: 0 15px;
        margin-left: 3px;
    }

    .searchv2 button {
        background-color: rebeccapurple;
        border: none;
        border-radius: 3px;
        font-family: MrgvlovaniCaps;
        color: white;
        font-size: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: auto;
        height: 34px;
        padding: 0 15px;
        margin-right: 3px;
    }

    .searchv2 button:hover {
        background-color: red;
    }

    .searchv2 button:active {
        margin-top: 1px;
        margin-bottom: -1px;
    }

    main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 5% 90% 5%;
        grid-template-columns: 5% 90% 5%;
    }

    .gridwindow1imgAround {
        width: 100%;
        height: 170px;
        border-radius: var(--gridwindow1imgBradius);
        overflow: hidden;
    }

    .posterSynopsis480 {
        display: none;
    }

    /* .similarTopics a {
        width: 158px;
    }

    .similarTopics img {
        object-fit: cover;
        width: 158px;
        height: 237px;
    } */
}

/* Display Resolutions for 1024x1280*/
@media (min-width: 1025px) and (max-width: 1280px) {

    .Navmenu480-768 {
        display: none;
    }

    .navmenuBackcolor {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .aroundNavmenu nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        margin-left: 5px;
    }

    .aroundNavmenu nav a {
        text-decoration: none;
        font-family: MrgvlovaniCaps;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 25px 16.5px;
    }

    .aroundNavmenu .sitelogo img {
        width: auto;
        height: 30px;
        margin: 0;
    }

    #navmenuSearchv1 {
        display: none;
    }

    .searchv2splitter {
        /* background-color: aqua; */
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 5% 90% 5%;
        grid-template-columns: 5% 90% 5%;
        margin-top: 10px;
    }

    .searchv2Around {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .searchv2Around img {
        display: none;
    }

    .searchv2 {
        background-color: var(--backColorGrey95);
        border: 1px solid var(--fontcolorGrey45);
        border-radius: 5px;
        width: 100%;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .searchv2:hover {
        background-color: white;
    }

    .searchv2 input {
        background: none;
        outline: none;
        border: none;
        width: 100%;
        padding: 0 15px;
        margin-left: 3px;
    }

    .searchv2 button {
        background-color: rebeccapurple;
        border: none;
        border-radius: 3px;
        font-family: MrgvlovaniCaps;
        color: white;
        font-size: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: auto;
        height: 34px;
        padding: 0 15px;
        margin-right: 3px;
    }

    .searchv2 button:hover {
        background-color: red;
    }

    .searchv2 button:active {
        margin-top: 1px;
        margin-bottom: -1px;
    }

    main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 5% 90% 5%;
        grid-template-columns: 5% 90% 5%;
    }

    #MoviePoster {
        width: 240px;
        height: 360px;
        overflow: hidden;
    }

    .posterSynopsis480 {
        display: none;
    }

    .section1 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        row-gap: 5px;
    }

    .gridwindow1imgAround {
        width: 100%;
        height: 170px;
        border-radius: var(--gridwindow1imgBradius);
        overflow: hidden;
    }
    #Episode05 {
        display: none;
    }

    .section2Around {
        /* background-color: aqua; */
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100% 0;
        grid-template-columns: 100% 0;
    }

    .section2right {
        display: none;
    }

    /* .similarTopics a {
        width: 180px;
    }

    .similarTopics img {
        object-fit: cover;
        width: 180px;
        height: 270px;
    } */
    .midFooter div {
        width: 21%;
    }

    .midFooter .footer1 {
        width: 30%;
        margin-right: 25px;
    }

    .midFooter .footer5 {
        display: none;
    }
}

/* Display Resolutions for 768x1024*/
@media (min-width: 769px) and (max-width: 1024px) {

    .Navmenu480-768 {
        display: none;
    }

    .navmenuBackcolor {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .aroundNavmenu nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
    }

    .aroundNavmenu nav a {
        text-decoration: none;
        font-family: MrgvlovaniCaps;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 20px 11.5px;
    }

    .aroundNavmenu .sitelogo {
        display: none;
    }

    #navmenuSearchv1 {
        display: none;
    }

    .searchv2splitter {
        /* background-color: aqua; */
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1% 98% 1%;
        grid-template-columns: 1% 98% 1%;
        margin-top: 10px;
    }

    .searchv2Around {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .searchv2Around img {
        width: auto;
        height: 30px;
        margin-right: 10px;
    }

    .searchv2 {
        background-color: var(--backColorGrey95);
        border: 1px solid var(--fontcolorGrey45);
        border-radius: 5px;
        width: 100%;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .searchv2:hover {
        background-color: white;
    }

    .searchv2 input {
        background: none;
        outline: none;
        border: none;
        width: 100%;
        padding: 0 15px;
        margin-left: 3px;
    }

    .searchv2 button {
        background-color: rebeccapurple;
        border: none;
        border-radius: 3px;
        font-family: MrgvlovaniCaps;
        color: white;
        font-size: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: auto;
        height: 34px;
        padding: 0 15px;
        margin-right: 3px;
    }

    .searchv2 button:hover {
        background-color: red;
    }

    .searchv2 button:active {
        margin-top: 1px;
        margin-bottom: -1px;
    }

    main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1% 98% 1%;
        grid-template-columns: 1% 98% 1%;
    }

    #MoviePoster {
        width: 200px;
        height: 300px;
        overflow: hidden;
    }

    .posterSynopsis480 {
        display: none;
    }

    .section1 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        row-gap: 5px;
    }

    .gridwindow1imgAround {
        width: 100%;
        height: 180px;
        border-radius: var(--gridwindow1imgBradius);
        overflow: hidden;
    }

    #Episode04, #Episode05 {
        display: none;
    }

    .section2Around {
        /* background-color: aqua; */
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100% 0;
        grid-template-columns: 100% 0;
    }

    .section2right {
        display: none;
    }

    /* .similarTopics a {
        width: 146px;
    }

    .similarTopics img {
        object-fit: cover;
        width: 146px;
        height: 219px;
    } */
    
    .midFooter div {
        width: 26%;
    }

    .midFooter .footer1 {
        width: 40%;
        margin-right: 25px;
    }

    .midFooter .footer5 {
        display: none;
    }

    .midFooter .footer4 {
        display: none;
    }
    
}

/* Display Resolutions for 480x768*/
@media screen and (min-width: 280px) and (max-width: 768px) {

    .navmenuBackcolor {
        display: none;
    }

    .searchv2splitter {
        display: none;
    }

    .Navmenu480-768 {
        background-color: #1d1160;
        padding: 20px;
    }
    
    .nav480logoAround{
        /* background-color: blue; */
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .nav480logoAround img {
        width: auto;
        height: 40px;
    }

    .nav480social {
        /* background-color: white; */
        width: auto;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .nav480social img {
        -o-object-fit: contain;
           object-fit: contain;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 0;
        margin-left: 5px;
        overflow: hidden;
        -webkit-transition: 0.15s;
        -o-transition: 0.15s;
        transition: 0.15s;
    }

    .nav480social img:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
    
    .nav480searcharound {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 20px;
    }
    
    .searchv3 {
        background-color: var(--backColorGrey95);
        border: 1px solid var(--fontcolorGrey45);
        border-radius: 5px;
        width: 100%;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .searchv3:hover {
        background-color: white;
    }
    
    .searchv3 input {
        background: none;
        outline: none;
        border: none;
        width: 100%;
        padding: 0 15px;
        margin-left: 3px;
    }
    
    .searchv3 button {
        background-color: rebeccapurple;
        border: none;
        border-radius: 3px;
        font-family: MrgvlovaniCaps;
        color: white;
        font-size: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: auto;
        height: 34px;
        padding: 0 15px;
        margin-right: 3px;
    }
    
    .searchv3 button:hover {
        background-color: red;
    }
    
    .searchv3 button:active {
        margin-top: 1px;
        margin-bottom: -1px;
    }
    
    .nav480around {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .nav480around nav {
        /* background-color: white; */
        width: 50%;
        margin-top: 15px;
    }
    
    .nav480around nav a {
        /* background-color: red; */
        text-decoration: none;
        font-family: MrgvlovaniCaps;
        color: white;
        font-size: 14px;
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    
    .nav480around nav a:hover {
        background-color: red;
    }
    
    main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1.5% 97% 1.5%;
        grid-template-columns: 1.5% 97% 1.5%;
    }

    .sectionBaseCover {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        height: 360px;
    }

    #MoviePoster {
        display: none;
    }

    .posterSynopsis480 {
        margin-bottom: 25px;
    }

    #MoviePlayer {
        width: 100%;
        height: 100%;
    }

    .synopsysBasic {
        display: none;
    }

    .section1 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 5px 1fr;
        grid-template-columns: 1fr 1fr;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        row-gap: 5px;
    }

    .gridwindow1imgAround {
        width: 100%;
        height: 190px;
        border-radius: var(--gridwindow1imgBradius);
        overflow: hidden;
    }

    #Episode03, #Episode04, #Episode05 {
        display: none;
    }

    .section2Around {
        /* background-color: aqua; */
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100% 0;
        grid-template-columns: 100% 0;
    }

    .section2right {
        display: none;
    }

    #actors2 {
        display: none;

    }

    .actorsAround {
        /* background-color: orange; */
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0;
    }
    
    .actorsWindows {
        /* background-color: aqua; */
        width: 100%;
    }

    /* .similarTopics a {
        width: 148px;
    }

    .similarTopics img {
        object-fit: cover;
        width: 148px;
        height: 222px;
    }

    #similartopic1, #similartopic3 {
        display: none;
    } */

    .midFooter div {
        width: 26%;
    }

    .midFooter .footer1 {
        width: 80%;
        margin: auto;
    }

    .midFooter .footer2, .footer3, .footer4, .footer5 {
        display: none;
    }
}

/* Display Resolutions before 480px*/
@media (max-width: 479px) {
    body {
        display: none;
    }
}


@media (max-width: 745px) {
    .slidersplitter {
        display: none;
    }
}




/* Display Resolutions for 1920+ screens*/
@media (min-width: 1921px) {
    
    .Navmenu480-768 {
        display: none;
    }

    .searchv2splitter {
        display: none;
    }

    main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
    }

    .gridwindow1imgAround {
        width: 100%;
        height: 170px;
        border-radius: var(--gridwindow1imgBradius);
        overflow: hidden;
    }

    .posterSynopsis480 {
        display: none;
    }
}
