
@font-face {
    font-family: MrgvlovaniCaps;
    src: url(fonts/bpg_mrgvlovani_caps_2010.ttf);
}


body {
    font-family: calibri;
    margin: 0;
    padding: 0;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.AroundEverything {
    background-color: white;
    padding-bottom: 150px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.upMenu1 {
    background-color: black;
    width: 1200px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.upMenu1 h2 {
    /* background-color: red; */
    color: #00bf50;
    display: flex;
    margin: auto;
    margin-left: 25px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.runningLine {
    /* background-color: red; */
    width: 100%;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}

.runningLineInsider {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: right;
    animation-name: runlineAnimation;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

@keyframes runlineAnimation {
    0% {width: 617px;}
    50% {width: 728px;}
    100% {width: 617px;}
}

.runningLineInsider img {
    height: 16px;
}

.runningLineInsider p {
    font-family: MrgvlovaniCaps;
    color: white;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.upNavenu1 {
    /* background-color: red; */
    color: white;
    font-size: 13px;
    display: flex;
    margin-right: 25px;
}

.upNavenu1 a {
    color: white;
    text-decoration: none;
}

.upNavenu1 a:hover {
    color: #00bfff;
}

.upNavenu1 a:active {
    color: #00d95a;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.Headbanner {
    margin: auto;
    width: 1200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
}

.Headbanner .headlineArea {
    /* background-color: red; */
    margin: auto;
    margin-left: 25px;
    display: grid;
    justify-content: left;
    align-items: center;
}

.Headbanner h3 {
    background-color: white;
    color: #5000bf;
    margin: auto;
    margin-left: 0;
    font-family: MrgvlovaniCaps;
    padding: 5px 15px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.Navmenu1 {
    background-color: #5000bf;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: auto;
    width: 1200px;
}

#navmenuSpecial1 {
    margin-left: 25px;
}

.Navmenu1 a {
    /* background-color: red; */
    font-family: MrgvlovaniCaps;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 20px 25px;
}

.Navmenu1 a:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    font-weight: bold;
    box-shadow: 0 3px 0 #007330;
}

.Navmenu1 a:active {
    color: #5000bf;
    transition: 0s;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.searchAround {
    background-color: white;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    padding: 2px;
}

.searchAround input {
    background: none;
    border: none;
    outline: none;
    font-family: calibri;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.searchAround button {
    background-color: #11733a;
    background: none;
    border: none;
    display: flex;
    justify-content: right;
}

.searchAround button img {
    display: flex;
    margin-left: auto;
    height: 16px;
    padding: 6px 0px 6px 6px;
}

.searchAround button:active {
    margin-top: 1px;
    margin-bottom: -1px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.HeadtitleTopic {
    width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    margin-bottom: 50px;
}

.ArticleNotification {
    width: 1200px;
    margin: auto;
    margin-bottom: 40px;
    color: gray;
    font-size: 14px;
}

.topArticles {
    /* background-color: red; */
    width: 1200px;
    height: 304px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.topArticles img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 296px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.3s;
}

.topArticles img:hover {
    /* border: 5px solid white; */
    width: 370px;
    height: 296px;
    object-fit: cover;
    transform: rotate(5deg) scale(1.17);
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.downAroundEverything {
    background-color: orange;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.downLeftAround {
    background-color: orangered;
    width: 850px;
    height: 500px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.topicHR {
    margin: auto;
    border: none;
    border-top: 1px dotted #5000bf;
    margin-top: 25px;
    margin-bottom: 25px;
}

.Topic1Around {
    /* background-color: aqua; */
    width: 850px;
}

.imgTextAround {
    /* background-color: blueviolet; */
    width: 850px;
    height: auto;
    display: flex;
}

.imgTextAround img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-right: 15px;
}


.topDesc1 {
    margin-top: 0;
    margin-bottom: auto;
}

.topDesc1 a {
    color: #0045a6;
    font-weight: bold;
    text-decoration: none;
}

.topDesc1 a:hover {
    color: #5000bf;
}

.topDesc1 a:active {
    color: #11733a;
}

.TableAround {
    /* background-color: yellow; */
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.TableAround table {
    background-color: #5000bf;
    width: 415px;
    text-align: left;
    /* border-radius: 10px 10px 0 0; */
    border: 1px solid #5000bf;
    border-bottom: 5px solid #5000bf;
}

.TableAround table, .specialTR, tr, th td {
    border-collapse: collapse;
}

.TableAround table .specialTR {
    background-color: #f2f2f2;
    color: #1b0040;
    border-bottom: 1px solid #5000bf;
}

.TableAround table .specialTR:hover {
    background-color: #008c3a;
    color: white;
}

.TableAround table th {
    color: white;
    font-family: MrgvlovaniCaps;
    font-size: 12px;
}

.TableAround table th, td {
    padding: 15px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.CommentAround {
    /* background-color: aqua; */
    width: 850px;
    margin-top: 50px;
}

.CommentAround h2 {
    font-family: MrgvlovaniCaps;
    margin: auto;
    margin-bottom: 15px;
}

.CommentAround textarea {
    font-family: calibri;
    width: 850px;
    min-height: 100px;
    resize: vertical;
    padding: 10px 15px;
    outline: none;
}

.CommentAround p {
    color: gray;
    font-size: 14px;
}

.CommentAround button {
    background-color: #300073;
    font-family: MrgvlovaniCaps;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 12px;
    margin: auto;
    margin-right: 0;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}

.CommentAround button:hover {
    color: #300073;
    background-color: #00d95a;
}

.CommentAround button:active {
    margin-top: 1px;
    margin-bottom: -1px;
}

.CommentAround p {
    margin: auto;
    margin-left: 0;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.downRightAround {
    /* background-color: orangered; */
    width: 300px;
    margin-top: 50px;
}

.righttopicAround {
    /* background-color: yellow; */
    width: 300px;
}

.righttopicAround h2 {
    /* background-color: rebeccapurple; */
    font-family: MrgvlovaniCaps;
    font-weight: bold;
    color: #300073;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    text-align: left;
    border-left: 5px solid #300073;
    box-sizing: border-box;
}

.RightSingleTopic1 {
    /* background-color: gray; */
    width: 300px;
    margin-top: 25px;
}

.RightSingleTopic1 img {
    object-fit: cover;
    width: 300px;
    height: 170px;
    margin-bottom: 5px;
}

.RightSingleTopic1 a {
    color: #0045a6;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.RightSingleTopic1 a:hover {
    color: #300073;
    text-decoration: underline;
}

.RightSingleTopic1 a:active {
    color: #007330;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.footerDiv {
    background-color: #1b0040; 
    width: 1200px; 
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.footerHR {
    margin: auto;
    border: none;
    border-top: 1px dotted #00a645;
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.webandSocial {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: auto;
}

.webandSocial h1 {
    color: #00d95a;
    margin: auto;
    margin-left: 0;
}


.socialmediaAround {
    /* background-color: white; */
    width: 265px;
    display: flex;
    justify-content: space-between;
}

.socialmediaAround img {
    height: 40px;
    transition: transform 0.3s
}

.socialmediaAround img:hover {
    transform: scale(1.2) rotate(360deg);
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.footerinsideAround {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
}

.footerinsideAround h4 {
    font-family: MrgvlovaniCaps;
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
    margin: auto;
    text-align: left;
}

.footerinsideAround p {
    margin: auto;
    margin-top: 15px;
    text-align: left;
}

.footerinsideAround p a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.footerinsideAround p a:hover {
    text-decoration: underline;
    color: #00bfff;
}

.footerinsideAround p a:active {
    color: #00d95a;
}

.footerInsade1 {
    /* background-color: aqua; */
    width: 188px;
}

.footerInsade2 {
    /* background-color: aqua; */
    width: 188px;
}

.footerInsade3 {
    /* background-color: aqua; */
    width: 188px;
}

.footerInsade4 {
    /* background-color: aqua; */
    width: 191px;
}

.footerInsade5 {
    /* background-color: aqua; */
    width: 265px;
}

.footerInsade5 input {
    background-color: #1b0040;
    border: 1px solid white;
    color: white;
    outline: none;
    font-family: calibri;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.footerInsade5 input::placeholder {
    color: white;
}

.footerInsade5 button {
    background-color: white;
    border: none;
    border-radius: 3px;
    color: #1b0040;
    width: 100%;
    text-align: center;
    font-family: MrgvlovaniCaps;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 0;
    margin-top: 10px;
}

.footerInsade5 button:hover {
    background-color: #00d95a;
}

.footerInsade5 button:active {
    margin-top: 11px;
    margin-bottom: -1px;
}